<%-include("partials/header")%>
<%-include("partials/navBar")%>

<div class="groupsBox">
  <%groups.forEach((group)=>{%>
    <div class="groupPreview">
      <span><a href="/groups/<%=group.id%>">Group-><%=group.name%></a></span>
    </div>
  <%});%>
</div>



<%-include("partials/footer")%>
