<%-include("partials/header")%>
<ul class="topnav">
  <li><a href="/dashBoard">DashBoard</a></li>
  <li><a href="/chats">Chats</a></li>
  <li><a href="/users/allUsers">All Users</a></li>
  <li><a href="/notifications">Notifications(<span style="color:red"><%=user.notifications.length%></span>)</a></li>
  <li><a href="/addPost">Create Post</a></li>
  <li><a href="/users/myFriends">My Friends</a></li>
  <li><a href="/users/myProfile">My Profile</a></li>
  <li><a href="/auth/logout">Logout</a></li>
</ul>
<%users.forEach((user)=>{%>
  <div class="userBox">
    <div class="profileImage">
      <%if(user.profilePicture==""||!user.profilePicture){%>
        <img src="/images/user.png" alt="" width="70px" height="70px">
      <%}else{%>
        <img src="/images/<%=user.profilePicture%>" alt="" width="70px" height="70px">
      <%}%>
    </div>
    <br>
    <a href="/users/<%=user.id%>"><%=user.name%></a>
  </div>
<%});%>


<%-include("partials/footer")%>
