<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delta Project-Facebook clone</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.tiny.cloud/1/mz4azzdg6i1n2ztvy6vtkbsagrkmx6w4h43v68zdqee88ble/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<%-include("partials/navBar")%>
<div class="chatContainer">
  <div class="chatHead" style="max-height:">
    <div class="profilePicture">
      <%if(person.image){%>
        <img src="/submit/image/<%=person.id%>" alt="">
      <%}else{%>
        <img src="/images/user.png" alt="">
      <%}%>
    </div>
    <span><%=person.name%></span><br>
  </div>
  <div class="messages">
    <%chat.messages.forEach((message)=>{%>
      <div class="personMessage">
        <span ><%=message.content%></span><br>
        <span ><%=message.time%></span>
        <span><%=message.user%></span>
      </div>
    <%});%>
  </div>
  <div class="sendMessage">
    <form id="chatForm">
      <input type="hidden" name="chatid" id="chatid" value="<%=chat._id%>">
      <input type="hidden" name="sender" id="sender"value="<%=user.name%>">
      <input type="hidden" name="personid" id="personid" value="<%=person._id%>">
      <input type="text" name="message" placeholder="Type your Message" required autocomplete="off">
      <button type="submit" name="button" class="sendButton">Send</button>
    </form>
    <!-- <button type="button" name="openFileForm" id="openFileForm"><img src="/images/add.png" width="30px" height="30px" alt=""></button> -->
    <!-- <form id="fileForm" enctype="multipart/form-data">
      <input type="file" name="file" value="">
      <button type="submit" name="sendMessage" class="sendMessage">Send</button>
    </form> -->
  </div>
</div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>

</body>
</html>
