<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delta Project-Facebook clone</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.tiny.cloud/1/mz4azzdg6i1n2ztvy6vtkbsagrkmx6w4h43v68zdqee88ble/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <ul class="topnav">
    <li><a href="/dashBoard">DashBoard</a></li>
    <li><a href="/chats">Chats</a></li>
    <li><a href="/users/allUsers">All Users</a></li>
    <li><a href="/notifications">Notifications(<span style="color:red"><%=user.notifications.length%></span>)</a></li>
    <li><a href="/addPost">Create Post</a></li>
    <li><a href="/users/myFriends">My Friends</a></li>
    <li><a href="/users/myProfile">My Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>


<h1 class="pageHeading">Dashboard</h1>

<div class="postsContainer">
  <%posts.forEach((post)=>{%>
    <div class="postContainer">
      <img src="/images/<%=post.file%>" width="100px" height="100px" alt="">
      <span class="postCreator"><%=post.creatorName%></span>
      <span class="postTime"><%=post.dateTime%></span><br>
      <p class="postContent"><%-post.content%></p><br>
      <span class="likesNo"><%=post.likes.length%></span><span> Likes</span>
      <span class="commentsNo"><%=post.comments.length%></span><span> Comments</span><br>
      <form class="likeForm" >
        <input type="hidden" name="post" value="<%=post._id%>">
        <input type="hidden" name="user" value="<%=user._id%>">
        <!-- <button class="likeButton" type="button" class="like" name="Like">Like</button> -->
        <%if(post.likes.includes(user._id)){%>
          <input type="hidden" name="liked" value="true">
          <button type="submit" name="like" class="liked likeButton"><img src="/images/like.png" height="30px" width="30px"></button>
        <%}else{%>
          <input type="hidden" name="liked" value="false">
          <button type="submit" name="like" class="likeButton"><img src="/images/like.png" height="30px" width="30px"></button>
        <%}%>
      </form>

      <form class="commentForm" >
        <input type="hidden" name="post" value="<%=post._id%>">
        <input type="hidden" name="user" value="<%=user._id%>">
        <input type="hidden" name="userName" value="<%=user.name%>">
        <input type="text" name="content" placeholder="Add Comment">
        <button type="submit" name="addComment" class="addComment"><img src="/images/plus.png" width="30px" height="30px"></button>
      </form>

      <div class="commentsBox">
        <%post.comments.forEach((comment)=>{%>
          <div class="commentBox">
            <span><%=comment.userName%></span>-->
            <span><%=comment.content%></span>
            <span>   @<%=comment.time%></span>
            <%if(comment.user==user._id){%>
              <form class="deleteComment">
                <input type="hidden" name="comment" value="<%=comment._id%>">
                <input type="hidden" name="post" value="<%=post._id%>">
                <button type="submit" name="delete" >Delete</button>
              </form>
            <%}%>
          </div>
        <%});%>
      </div>

    </div>
  <%})%>

</div>

<script type="text/javascript" src="/js/dashBoard.js">
// const socket=io();
//
// $(".likeForm").on("submit",(e)=>{
//   e.preventDefault();
//   console.log(e.target);
//   let {post,user,liked}=e.target.elements;
//   post=post.value;
//   user=user.value;
//   liked=liked.value;
//   if(liked=="false"){
//     socket.emit("like",{
//       post:post,
//       user:user
//     });
//     console.log(e.target.elements.like);
//     $(e.target.elements.like).addClass("liked");
//     let likesSpan=$(e.target).parent().find(".likesNo");
//     let likesNum=Number(likesSpan.text())+1;
//     likesSpan.text(likesNum);
//     e.target.elements.liked.value="true";
//   }else{
//     socket.emit("unLike",{
//       post:post,
//       user:user
//     });
//     $(e.target.elements.like).removeClass("liked");
//
//     let likesSpan=$(e.target).parent().find(".likesNo");
//     let likesNum=Number(likesSpan.text())-1;
//     likesSpan.text(likesNum);
//     e.target.elements.liked.value="false";
//   }
//
// });
//
// $(".commentForm").on("submit",(e)=>{
//   e.preventDefault();
//   let {user,post,content}=e.target.elements;
//   user=user.value;
//   post=post.value;
//   content=content.value;
//
//   let time=new Date().toLocaleString();
//
//   socket.emit("addComment",{
//     user,
//     post,
//     content,
//     time
//   });
//
//   socket.on("success",({comment})=>{
//     let commentBox=`
//     <div class="commentBox">
//       <span>${user}</span>-->
//       <span>${content}</span>
//       <span>   @${time}</span>
//         <form class="deleteComment">
//           <input type="hidden" name="post" value="${post}"/>
//           <input type="hidden" name="comment" value="${comment}">
//           <button type="submit" name="delete" >Delete</button>
//         </form>
//     </div>
//     `;
//     $(e.target).parent().find(".commentsBox").append(commentBox);
//   });
//
//
//
// });
//
// $(".deleteComment").on("submit",(e)=>{
//   e.preventDefault();
//   socket.emit("deleteComment",{
//     post:e.target.elements.post.value,
//     comment:e.target.elements.comment.value
//   });
//   $(e.target).parent().toggle();
// });
//
//

</script>



</body>
</html>
